<!-- Slider
		============================================= -->
<section id="slider" class="slider-element full-screen clearfix"
         style="background: url(../../../assets/images/party-at-home.jpg) top right no-repeat; background-size: cover;"
         data-height-md="550">

  <div class="full-screen">
    <div class="real-estate-tabs-slider">
      <div class="container clearfix">
        <div class="tabs advanced-real-estate-tabs nomargin clearfix" style="max-width: 500px;">

          <ul class="tab-nav clearfix">
            <li class="noleftmargin"><a routerLink="">Instant Price & Availability</a></li>
          </ul>
          <app-location-date (emitSubmit)="locationDateSubmitted()"></app-location-date>
        </div>
      </div>
    </div>
  </div>

</section><!-- #slider end -->

<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-my-house"></i></a>
          </div>
          <h3 class="t400">Hassle Free</h3>
          <p>Our goal is to make your kids' childhood totally hassle-free. We want them to have fun and enjoy each
            moment of their childhood with family and friends.</p>
        </div>
      </div>

      <div class="col_one_third ">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-doc"></i></a>
          </div>
          <h3 class="t400">Rich Assortment </h3>
          <p>We present a large range of rentals you’ll need to have a great birthday party! Inflatables, party
            decorations, interactive games and more to have fun!</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-garage"></i></a>
          </div>
          <h3 class="t400">Affordable Price</h3>
          <p>Don’t waste your time looking for party rentals, cause you have already found the company with high-quality
            service and affordable price!</p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-rent"></i></a>
          </div>
          <h3 class="t400">Clean Equipment</h3>
          <p>Our ALL inflatables, party packages, (water) slides and other equipment are cleaned before and after each
            use also inspected and certified each year.
          </p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-credit"></i></a>
          </div>
          <h3 class="t400">Safety</h3>
          <p>We guarantee that you and your children will be in safety from all injuries during the parties with our
            rentals. We know that kids' joy is happiness for parents.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-hammer"></i></a>
          </div>
          <h3 class="t400">Well Constructed</h3>
          <p>Both the service and equipment are flawless so feel free to use our service to make your party be the best
            of all the time.</p>
        </div>
      </div>

      <div class="clear"></div>
      <div class="line topmargin-sm bottommargin-lg"></div>

      <div style="position: relative;" *ngIf="featuredRentalProducts.length > 0">
        <div class="heading-block nobottomborder">
          <h3>Featured Rental Products</h3>
        </div>

        <!--<a routerLink="#" class="button button-small button-rounded button-border button-border-thin t500 nomargin"-->
        <!--style="position: absolute; top: 7px; right: 0;">Check All</a>-->

        <div class="real-estate owl-carousel image-carousel carousel-widget bottommargin-lg" data-margin="10"
             data-nav="true" data-loop="true" data-pagi="false" data-items-xs="1" data-items-sm="1" data-items-md="2"
             data-items-lg="3" data-items-xl="3">

          <div class="oc-item" *ngFor="let product of featuredRentalProducts">
            <div class="real-estate-item">
              <div class="real-estate-item-image">
                <div class="badge badge-success" *ngIf="product.isHotDeal">Hot Deal</div>
                <div class="badge badge-danger" *ngIf="product.isNew && !product.isHotDeal">New!</div>
                <a [routerLink]="['/rental', product.pathParam]">
                  <img src="{{product.images[0]}}" alt="{{product.title}}">
                </a>
                <div class="real-estate-item-price">
                  ${{product.price}}
                </div>
              </div>

              <div class="real-estate-item-desc">
                <h3><a [routerLink]="['/rental', product.pathParam]">{{product.title}}</a></h3>

                <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="clear"></div>

      <div class="promo promo-dark promo-flat bottommargin-lg">
        <h3 class="t400 ls1">Special Offers on Long Term Rentals &amp; Lease Agreements</h3>
        <a href="#" class="button button-dark button-large button-rounded">Contact Now</a>
      </div>

      <div class="clear"></div>
      <div class="line topmargin-sm bottommargin-lg"></div>

      <div class="heading-block nobottomborder">
        <h3>Party Rentals, Interactive Games, and Inflatable Jumpers</h3>
      </div>
      <div class="row real-estate-properties clearfix bottommargin-lg">
        <ng-container *ngFor="let category of categories; let i = index">
          <div [ngClass]="getClass(i)">
            <a [routerLink]="['/rentals', category.id]"
               [ngStyle]="{'background': 'url('+(category.imageUrl? category.imageUrl : category.items[0]?.images[0])+') no-repeat bottom center', 'background-size': 'cover'}">
              <div class="vertical-middle dark center">
                <div class="heading-block nomargin noborder">
                  <h3 class="capitalize t500">{{category.title}}</h3>
                  <span style="margin-top: 5px; font-size: 17px;">23 Properties</span>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>

      <div class="col_full nobottommargin">
        <div class="tabs tabs-justify tabs-tb tabs-alt nobottommargin clearfix">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">format_align_justify</mat-icon>
                Why Us?
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-1" style="margin: 15px;">
                <p>We believe that each child on this planet deserves a loving family, freedom, and happiness. That’s
                  why we created a company able to bring lots of fun, unforgettable memories and precious childhood
                  moments with family and friends. We love bringing joy to the children of the world and that’s why the
                  company has the future goal to be engaged in charity. Let’s help to make children of the world happier
                  together!
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                Advantages
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-2" style="margin: 15px;">
                <p>High-quality service is what we’re working on every single day! You’ll be satisfied with the safety,
                  cleanliness and fast work we do for you to make your every event be on a high level so that you can
                  give a magical and carefree childhood to your kids. Check the large variety of our rentals to find
                  what you and your kids would love most to have at the parties. We would love to help you make the
                  fabulous party which will surely be the best of all the time!</p>
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">rate_review</mat-icon>
                Who We Are
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-2" style="margin: 15px;">
                <p>We’re a team of kind people who adore children and life. We’re dedicated to providing the best rental
                  service with the highest quality products for our lovely customers. Each of us is a hard-working
                  person and it helps to make service without any disadvantages. We are working every single day on each
                  aspect of our job so that you can totally enjoy events using our service.</p>
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>


    <!--<div class="col_one_third col_last">-->

    <!--<h4 class="center">Top Builders</h4>-->

    <!--<ul class="clients-grid grid-2 nobottommargin clearfix">-->
    <!--<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img-->
    <!--src="../../../assets/real-estate/images/builders/1.png" alt="Clients"></a></li>-->
    <!--<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img-->
    <!--src="../../../assets/real-estate/images/builders/2.png" alt="Clients"></a></li>-->
    <!--<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img-->
    <!--src="../../../assets/real-estate/images/builders/3.png" alt="Clients"></a></li>-->
    <!--<li style="padding: 20px;"><a href="#" style="opacity: 0.9"><img-->
    <!--src="../../../assets/real-estate/images/builders/4.png" alt="Clients"></a></li>-->
    <!--</ul>-->

    <!--</div>-->

    <div class="clear"></div>

  </div>

</section>

