<!-- Slider
		============================================= -->
<section class="slider-element full-screen clearfix " id="slider"
         [ngStyle]="{'height': getScreenHeight()+'px'}">

  <div class="full-screen">
    <div class="real-estate-tabs-slider">
      <div class="container clearfix">
        <div class="tabs advanced-real-estate-tabs nomargin clearfix" style="max-width: 500px;">

          <ul class="tab-nav clearfix">
            <li class="noleftmargin" (click)="showLocationDate=!showLocationDate">
              <a *ngIf="!showLocationDate" style="background-color: rgba(0, 0, 0, 0.3);"><mat-icon >notifications_active</mat-icon></a>
              <a>Price & Availability</a></li>
          </ul>
          <app-location-date *ngIf="showLocationDate" (emitSubmit)="locationDateSubmitted()"></app-location-date>
        </div>
      </div>
    </div>
    <ng-container *ngIf="sliderReady">
      <div class="video-wrap-home fade-slider"><img  style="max-width: 100%;
    height: 100%;" *ngIf="settings.mobileImageUrl && isMobile" [src]="settings.mobileImageUrl" /></div>


      <div class="video-wrap-home fade-slider" *ngIf="settings.imageUrl1 && !isMobile"
           [ngStyle]="{'background': 'url('+settings.imageUrl1+') top right no-repeat',
          'background-size': 'cover', 'display':sliderIndex == 1?'block':'none'}">
      </div>
      <div class="video-wrap-home fade-slider" *ngIf="settings.imageUrl2  && !isMobile"
           [ngStyle]="{'background': 'url('+settings.imageUrl2+') top right no-repeat',
          'background-size': 'cover', 'display':sliderIndex == 2?'block':'none'}">
      </div>
      <div class="video-wrap-home fade-slider" *ngIf="settings.imageUrl3  && !isMobile"
           [ngStyle]="{'background': 'url('+settings.imageUrl3+') top right no-repeat',
          'background-size': 'cover', 'display':sliderIndex == 3?'block':'none'}">
      </div>
    </ng-container>
  </div>

</section><!-- #slider end -->


<!-- Content
		============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-my-house"></i></a>
          </div>
          <h3 class="t400">Hassle Free</h3>
          <p>Our goal is to make your kids' childhood absolutely hassle-free. Save your time and get everything punctually! Our entertainment party rental company wants you to enjoy every moment of your special day! </p>
        </div>
      </div>

      <div class="col_one_third ">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-doc"></i></a>
          </div>
          <h3 class="t400">Rich Assortment </h3>
          <p>With our assortment, no one would ever get bored at your party! We have a rich collection of both indoor and outdoor entertainment party rentals. Our aim is to make your occasion funny and entertaining.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-garage"></i></a>
          </div>
          <h3 class="t400">Affordable Price</h3>
          <p>We offer high-quality equipment and professional customer service, also affordable and competitive pricing. It is important for us to ensure that your event is exactly what you imagined it to be! </p>
        </div>
      </div>

      <div class="clear"></div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-rent"></i></a>
          </div>
          <h3 class="t400">Clean Equipment</h3>
          <p>Our ALL inflatables, party packages, (water) slides and other equipment are cleaned before and after each use. Also, they are inspected and certified each year. We do our best to meet all your expectations.
          </p>
        </div>
      </div>

      <div class="col_one_third">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-credit"></i></a>
          </div>
          <h3 class="t400">Safety</h3>
          <p>We guarantee that you and your children will be in safety from all injuries with our rentals. You can feel free to let your child forget about the world and enjoy the sweet moments of childhood.</p>
        </div>
      </div>

      <div class="col_one_third col_last">
        <div class="feature-box fbox-plain">
          <div class="fbox-icon">
            <a routerLink="#"><i class="icon-realestate-hammer"></i></a>
          </div>
          <h3 class="t400">Well Constructed</h3>
          <p>Our entertainment party rentals are flawless. Both the service and equipment are well-constructed, so feel free to use our service to make your special occasion be unforgettable. </p>
        </div>
      </div>

      <div class="clear"></div>
      <div class="line topmargin-sm bottommargin-lg"></div>

      <div style="position: relative;" *ngIf="featuredRentalProducts?.length > 0">
        <div class="heading-block nobottomborder">
          <h3>Featured Rental Products</h3>
        </div>

        <!--<a routerLink="#" class="button button-small button-rounded button-border button-border-thin t500 nomargin"-->
        <!--style="position: absolute; top: 7px; right: 0;">Check All</a>-->

        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let product of featuredRentalProducts">
            <ng-template carouselSlide  [width]="300" [id]="product.id">
              <div class="sale-flash" style="z-index: 1000;" *ngIf="product.isNew">New !</div>
              <div class="sale-flash" style="z-index: 1000;" *ngIf="product.isHotDeal">Hot Deal !</div>
              <a [routerLink]="['/rental', product.pathParam]" *ngIf="product.images[0]"><img [src]="product.images[0]" [alt]="product.title" [title]="product.title" style="height: 260px !important;"></a>
              <div class="real-estate-item-price" *ngIf="(isSpecified() | async)">
                ${{getPrice(product.nightPrice, product.minPrice, product.minTime, product.price) | async}}
              </div>
              <div class="real-estate-item-desc">
                <h3 style="white-space: nowrap;overflow: hidden;"><a [routerLink]="['/rental', product.pathParam]">{{product.title}}</a>
                </h3>

                <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

              </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>

      </div>

      <div class="clear"></div>

      <div class="promo promo-dark promo-flat bottommargin-lg">
        <h3 class="t400 ls1">Special Offers on Long Term Rentals &amp; Lease Agreements</h3>
        <a href="#" class="button button-dark button-large button-rounded">Contact Now</a>
      </div>

      <div class="clear"></div>
      <div class="line topmargin-sm bottommargin-lg"></div>

      <div class="heading-block nobottomborder">
        <h3>Party Rentals, Interactive Games, and Inflatable Jumpers</h3>
      </div>
      <div class="row real-estate-properties clearfix bottommargin-lg">
        <ng-container *ngFor="let category of categories; let i = index">
          <div [ngClass]="getClass(i)">
            <a [routerLink]="['/rentals', category.pathParam]"
               [ngStyle]="{'background': 'url('+(category.imageUrl? category.imageUrl : category.items[0]?.images[0])+') no-repeat bottom center', 'background-size': 'cover'}">
              <div class="vertical-middle dark center" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="heading-block nomargin noborder">
                  <h3 class="capitalize t500">{{category.title}}</h3>
                  <span style="margin-top: 5px; font-size: 17px;">{{category.items.length}} Properties</span>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>

      <div class="col_full nobottommargin">
        <div class="tabs tabs-justify tabs-tb tabs-alt nobottommargin clearfix">

          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">format_align_justify</mat-icon>
                Why Us?
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-1" style="margin: 15px;">
                <p>Unlike many other businesses, it’s a family business for us. That is why our team is full of love,
                  care and giving. We believe that each child on this planet deserves a loving family, freedom, and happiness.
                  That’s why we created a company able to bring lots of fun, unforgettable memories and precious childhood moments with family and friends.
                  We love bringing joy to the children of the world and that’s why the company has the future goal to be engaged in charity.
                  We are sharing the family value and we know how to make you smile!
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                Advantages
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-2" style="margin: 15px;">
                <p>-	With us, you have a chance to let yourself relax and have peace in mind in this busy and running life.<br>
                     -	We are here to help customers find the perfect space for their events! We provide you with outstanding and reliable customer service.<br>
                     -	High-quality service is what we’re working on every single day! You’ll be satisfied with the safety, cleanliness and fast work we do for you to make your every event be on a high level so that you can give a magical and carefree childhood to your kids.<br>
                     -	Additionally, we’re not only focused on children’s parties but also on adults' events! We prepared for you the highly interesting table and sports games, a photo booth, tables, chairs, tents, party machines and much more (also graduation party entertainment rentals, birthday party entertainment rentals, etc.)!<br>
                Check the large variety of our rentals to find what you and your kids would love most to have at the parties. We would love to help you make the fabulous party which will surely be the best of all the time!<br>
                </p>
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">rate_review</mat-icon>
                Who We Are
              </ng-template>
              <div class="tab-content clearfix" id="realestate-tab-3" style="margin: 15px;">
                <p>We prefer to call us ‘’Family to Family’’ business. A team of kind people who adore children and life. We are working every single day on each aspect of our job so that you can totally enjoy events using our service. Each member of our team is a hard-working and dedicated professional, who is passionate about making the life of people better! This is not just a job for us, it’s a lifestyle! </p>
                <div class="col_one_fourth nobottommargin center"></div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="clear"></div>

  </div>

</section>

