<!-- Header
		============================================= -->
<header id="header" class="static-sticky transparent-header dark" data-responsive-class="not-dark">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="index.html" data-dark-logo="../../../assets/images/logo.png" class="standard-logo"><img src="../../../assets/images/logo.png" alt="Canvas Logo"></a>
        <a href="index.html" data-dark-logo="../../../assets/images/logo@2x.png" class="retina-logo"><img src="../../../assets/images/logo@2x.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu" class="with-arrows">

        <ul>
          <li class="current"><a routerLink=""><div>Home</div></a></li>
          <li><a routerLink="/rentals"><div>Rentals</div></a></li>
          <li><a routerLink="/delivery-chart"><div>Delivery Chart</div></a>
            <!--<ul>-->
              <!--<li><a href="demos/real-estate/single-property.html"><div>Condo Apartments</div></a></li>-->
              <!--<li><a href="demos/real-estate/single-property.html"><div>Luxury Villas</div></a></li>-->
              <!--<li><a href="demos/real-estate/single-property.html"><div>Premium Estates</div></a></li>-->
            <!--</ul>-->
          </li>
          <li><a routerLink="/about-us"><div>About Us</div></a></li>
          <li><a routerLink="/contact-info"><div>Contact Info</div></a></li>
          <!--<li><a routerLink="demos/real-estate/listing.html"><div>Listing</div></a></li>-->
          <!--<li><a routerLink="demos/real-estate/contact.html"><div>Contact</div></a></li>-->
        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->


