

<!-- Header
		============================================= -->
<header id="header" class="full-header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a href="" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
          src="../../../assets/images/logo/lrg-epr-logo.png" alt="Canvas Logo"></a>
        <a href="" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
          src="../../../assets/images/logo/lrg-epr-logo.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu">
        <ul>
          <li class="current"><a routerLink="">
            <div>Home</div>
          </a></li>
          <li><a routerLink="/rentals">
            <div>Rentals</div>
          </a>
            <ul>
              <li><a href="demos/real-estate/single-property.html">
                <div>Condo Apartments</div>
              </a></li>
              <li><a href="demos/real-estate/single-property.html">
                <div>Luxury Villas</div>
              </a></li>
              <li><a href="demos/real-estate/single-property.html">
                <div>Premium Estates</div>
              </a></li>
            </ul>
          </li>
          <li><a routerLink="/delivery-chart">
            <div>Delivery Chart</div>
          </a></li>
          <li><a routerLink="/about-us">
            <div>About Us</div>
          </a></li>
          <li><a routerLink="/contact-info">
            <div>Contact Info</div>
          </a></li>
          <!--<li><a routerLink="demos/real-estate/listing.html"><div>Listing</div></a></li>-->
          <!--<li><a routerLink="demos/real-estate/contact.html"><div>Contact</div></a></li>-->
        </ul>

        <!-- Top Cart
                    ============================================= -->
        <div class="top-links">
          <ul>
            <li class="d-md-none d-lg-block"><a href="#"><i class="icon-call"></i> +1800-123-7890</a></li>
            <li><a routerLink="login" class="side-panel-trigger">Login/Register</a></li>
          </ul>
        </div>
        <div id="top-cart">
          <a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../../../assets/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt"/></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Blue Round-Neck Tshirt</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="../../../assets/images/shop/small/6.jpg" alt="Light Blue Denim Dress"/></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Light Blue Denim Dress</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price">$114.95</span>
              <button class="button button-3d button-small nomargin fright">View Cart</button>
            </div>
          </div>
        </div><!-- #top-cart end -->



      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->

<div id="gotoTop" class="icon-angle-up"></div>
