<!-- Header
		============================================= -->
<header id="header" [ngClass]="getHeaderClass()"  style="z-index: 9999;">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger" (click)="toggleMenu()"><mat-icon>menu</mat-icon></div>

      <!-- Logo
                ============================================= -->
      <div id="logo">
        <a routerLink="home" class="standard-logo" data-dark-logo="images/logo-dark.png"><img
          src="../../../assets/images/logo/lrg-epr-logo.png" alt="Canvas Logo"></a>
        <a routerLink="home" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img
          src="../../../assets/images/logo/lrg-epr-logo.png" alt="Canvas Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
                ============================================= -->
      <nav id="primary-menu">
        <ul [ngStyle]="toggle === false?{'display': 'none'}:{'display': 'block'}">
          <li routerLinkActive="current"><a routerLink="home">
            <div>Home</div>
          </a></li>
          <li routerLinkActive="current"><a routerLink="/rentals">
            <div>Rentals</div>
          </a>
            <ul>
              <li *ngFor="let category of categories"><a [routerLink]="['/rentals', category.id]">
                <div>{{category.title}}</div>
              </a></li>
            </ul>
          </li>
          <li routerLinkActive="current"><a routerLink="/delivery-chart">
            <div>Delivery Chart</div>
          </a></li>
          <li routerLinkActive="current"><a routerLink="/about-us">
            <div>About Us</div>
          </a></li>
          <li routerLinkActive="current"><a routerLink="/contact-info">
            <div>Contact Us</div>
          </a></li>
          <li *ngIf="isAdmin" routerLinkActive="current"><a routerLink="/dashboard">
            <div>Dashboard</div>
          </a></li>
          <!--<li><a routerLink="demos/real-estate/listing.html"><div>Listing</div></a></li>-->
          <!--<li><a routerLink="demos/real-estate/contact.html"><div>Contact</div></a></li>-->
        </ul>

        <!-- Top Cart
                    ============================================= -->
        <div class="top-links">
          <ul>
            <li class="d-md-none d-lg-block">
              <form>
                <mat-form-field class="margin-top">
                  <mat-label>Search</mat-label>
                  <input matInput placeholder="Ex. Photo Booth" [(ngModel)]="searchText" name="search" (keydown.enter)="search()" >
                  <button mat-button matSuffix mat-icon-button type="button" aria-label="Search" (click)="search()">
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </form>
            </li>
            <li *ngIf="isLogin()" routerLinkActive="current"><a class="side-panel-trigger">{{getCurrentUser()}}</a></li>
            <li *ngIf="isLogin()"><a href="#" (click)="logout()" data-lightbox="inline" class="header-login-trigger"><mat-icon>input</mat-icon></a></li>
            <li *ngIf="!isLogin()" routerLinkActive="current"><a routerLink="login" class="side-panel-trigger">Login/Register</a>
            </li>
          </ul>
        </div>
        <div id="top-cart">

          <a *ngIf="showCart()" routerLink="/cart" id="top-cart-trigger">
            <mat-icon>add_shopping_cart</mat-icon> <span>{{getCartCount()}}</span></a>
        </div><!-- #top-cart end -->


      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->

<div id="gotoTop" (click)="scrollTop()" [ngStyle]="top?{'display': 'block'}:{'display': 'none'}" > <mat-icon>arrow_upward</mat-icon></div>
