<!-- Page Title
    ============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1>{{selectedProduct?.title}}</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/rentals']">Rentals</a></li>
      <li class="breadcrumb-item" *ngIf="itemCategory"><a [routerLink]="['/rentals', itemCategory.pathParam]">{{itemCategory.title}}</a></li>
    </ol>
  </div>
</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content" >

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="single-product">

        <div class="product" *ngIf="selectedProduct">

          <div class="col_two_fifth">

            <!-- Product Single - Gallery
                            ============================================= -->
            <div class="col_full">
              <div class="product-image" style="overflow: visible;">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
                <div class="sale-flash" style="z-index: 1000;" *ngIf="selectedProduct.isNew">New !</div>
                <div class="sale-flash" style="z-index: 1000;" *ngIf="selectedProduct.isHotDeal">Hot Deal !</div>
              </div><!-- Product Single - Gallery End -->
            </div>
<!--            <ng-container *ngFor="let item of additionCategories">-->
<!--              <div class="col_full">-->
<!--                <h6>Don't forget to choose {{item.name}}</h6>-->
<!--                <ng-container *ngFor="let addition of item.additions">-->
<!--                  <div class="col_one_sixth">-->
<!--                    <img (click)="selectAddition($event, addition, item)" [src]="addition.imageUrl" style=" height: 60px"-->
<!--                         [ngStyle]="selectedAdditions.get(item.id)?.indexOf(addition)==-1?{'opacity':''}:{'opacity' : '0.3'}"/>-->
<!--                  </div>-->
<!--                </ng-container>-->
<!--              </div>-->
<!--            </ng-container>-->



          </div>

          <div class="col_two_fifth product-desc">

            <!-- Product Single - Price
                            ============================================= -->
            <div class="product-price" *ngIf="isSpecified() | async"> <ins>${{getPrice(selectedProduct.nightPrice, selectedProduct.minPrice, selectedProduct.minTime, selectedProduct.price) | async}}</ins></div><!-- Product Single - Price End -->
            <!-- Product Single - Rating
                            ============================================= -->
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
            </div><!-- Product Single - Rating End -->

            <div class="clear"></div>

            <ul class="tab-nav clearfix">
              <li class="noleftmargin"><a>Instant Price & Availability</a></li>
            </ul>
            <app-location-date></app-location-date>


            <!-- Product Single - Quantity & Cart Button
								============================================= -->
            <form *ngIf="(isSpecified() | async) && getQuantities().length > 0 && !productInCart()" class="cart nobottommargin clearfix">
              <div class="line"></div>
              <mat-form-field style="width:100px;margin-right: 20px;" >
                <mat-label>Quantity</mat-label>
                <mat-select [(ngModel)]="quantity" name="quantity" required>
                  <mat-option *ngFor="let item of getQuantities()" [value]="item">
                    {{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-container *ngFor="let additionCategory of additionCategories">
                <mat-form-field>
                  <mat-label>{{additionCategory.name}}</mat-label>
                  <mat-select (valueChange)="selectAddition($event, additionCategory)" [multiple] = "additionCategory.multiSelect" required>
                    <mat-option *ngFor="let addition of additionCategory.additions" [value]="addition.id">
                      <img *ngIf="addition.imageUrl" src='{{addition.imageUrl}}'> {{addition.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              <br>
              <button *ngIf="quantity > 0" type="button" class="add-to-cart button nomargin" (click)="addToCart()">Add to cart</button>
            </form><!-- Product Single - Quantity & Cart Button End -->
            <h4 *ngIf="!(isSpecified() | async)">Please select an event location, date and time to obtain a real-time quote.</h4>
            <h4 style="margin-top: 15px" *ngIf="(isSpecified() | async) && getQuantities().length == 0">Product is unavailable for the event date and time selected.</h4>
            <div *ngIf="productInCart()">
              <h4 style="margin-top: 15px" >This product is in your cart!</h4>
              <button type="button" class="button button-3d button-rounded button-yellow button-light" (click)="goToCart()">View cart</button>
              <button type="button" class="button button-3d button-rounded button-green" (click)="continueShopping()">Continue shopping</button>
            </div>
            <div class="clear"></div>
            <div class="line"></div>

            <!-- Product Single - Short Description
                            ============================================= -->
            <p [innerHTML]="selectedProduct.description"></p>
            <!--<p>Perspiciatis ad eveniet ea quasi debitis quos laborum eum reprehenderit eaque explicabo assumenda rem modi.</p>-->
            <ul class="iconlist">
              <li><i class="icon-caret-right"></i> Size : {{selectedProduct.itemSize}}</li>
              <li><i class="icon-caret-right"></i> Space Required : {{selectedProduct.spaceRequired}}</li>
            </ul><!-- Product Single - Short Description End -->

          </div>

          <div class="col_one_fifth col_last">
            <div class="divider divider-center"><i class="icon-circle-blank"></i></div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-thumbs-up2"></i>
              </div>
              <h3>100% Original</h3>
              <p class="notopmargin">We guarantee you the Original Brands.</p>
            </div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-credit-cards"></i>
              </div>
              <h3>Payment Options</h3>
              <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
            </div>

            <div class="feature-box fbox-plain fbox-dark fbox-small">
              <div class="fbox-icon">
                <i class="icon-truck2"></i>
              </div>
              <h3>Free Shipping</h3>
              <p class="notopmargin">Free Delivery to 100+ Locations.</p>
            </div>


          </div>

          <div class="col_full nobottommargin">
            <mat-tab-group>
              <mat-tab *ngIf="selectedProduct.instructions">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">format_align_justify</mat-icon>
                  Instruction
                </ng-template>
                <div class="tab-content clearfix">
                  <p>{{selectedProduct.instructions}}</p>
                </div>
              </mat-tab>

              <mat-tab *ngIf="getSetupPolicy()?.length > 0">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">info</mat-icon>
                   Additional Info
                </ng-template>
                <div class="tab-content clearfix" >

                  <table class="table table-striped table-bordered">
                    <tbody>
                    <tr *ngFor="let key of getSetupPolicy()">
                      <td>{{key}}</td>
                      <td>{{selectedProduct.setupPolicy.get(key)}}</td>
                    </tr>
                    </tbody>
                  </table>

                </div>
              </mat-tab>

              <mat-tab *ngIf="selectedProduct.rentalTerms">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">assignment_turned_in</mat-icon>
                  Rental Terms
                </ng-template>
                <div class="tab-content clearfix" >
                  <p>{{selectedProduct.rentalTerms}}</p>
                </div>
              </mat-tab>

              <mat-tab *ngIf="reviewsCount>0">
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">rate_review</mat-icon>
                  Reviews ({{reviewsCount}})
                </ng-template>

                <div class="tab-content clearfix" >

                  <div id="reviews" class="clearfix">

                    <ol class="commentlist clearfix">

                      <li class="comment even thread-even depth-1" id="li-comment-4">
                        <div id="comment-4" class="comment-wrap clearfix">

                          <div class="comment-meta">
                            <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' height='60' width='60' /></span>
                            </div>
                          </div>

                          <div class="comment-content clearfix">
                            <div class="comment-author">John Doe<span><a href="#" title="Permalink to this comment">April 24, 2014 at 10:46AM</a></span></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo perferendis aliquid tenetur. Aliquid, tempora, sit aliquam officiis nihil autem eum at repellendus facilis quaerat consequatur commodi laborum saepe non nemo nam maxime quis error tempore possimus est quasi reprehenderit fuga!</p>
                            <div class="review-comment-ratings">
                              <i class="icon-star3"></i>
                              <i class="icon-star3"></i>
                              <i class="icon-star3"></i>
                              <i class="icon-star3"></i>
                              <i class="icon-star-half-full"></i>
                            </div>
                          </div>

                          <div class="clear"></div>

                        </div>
                      </li>

                      <li class="comment even thread-even depth-1" id="li-comment-1">
                        <div id="comment-1" class="comment-wrap clearfix">

                          <div class="comment-meta">
                            <div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																	<img alt='' src='http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=60' height='60' width='60' /></span>
                            </div>
                          </div>

                          <div class="comment-content clearfix">
                            <div class="comment-author">Mary Jane<span><a href="#" title="Permalink to this comment">June 16, 2014 at 6:00PM</a></span></div>
                            <p>Quasi, blanditiis, neque ipsum numquam odit asperiores hic dolor necessitatibus libero sequi amet voluptatibus ipsam velit qui harum temporibus cum nemo iste aperiam explicabo fuga odio ratione sint fugiat consequuntur vitae adipisci delectus eum incidunt possimus tenetur excepturi at accusantium quod doloremque reprehenderit aut expedita labore error atque?</p>
                            <div class="review-comment-ratings">
                              <i class="icon-star3"></i>
                              <i class="icon-star3"></i>
                              <i class="icon-star3"></i>
                              <i class="icon-star-empty"></i>
                              <i class="icon-star-empty"></i>
                            </div>
                          </div>

                          <div class="clear"></div>

                        </div>
                      </li>

                    </ol>

                    <!-- Modal Reviews
                                            ============================================= -->
                    <a href="#" data-toggle="modal" data-target="#reviewFormModal" class="button button-3d nomargin fright">Add a Review</a>

                    <!-- Modal Reviews End -->

                  </div>

                </div>
              </mat-tab>
            </mat-tab-group>

          </div>

        </div>

      </div>

      <div class="clear"></div><div class="line"></div>

      <div style="position: relative;" *ngIf="relatedProducts?.length > 0">
        <div class="heading-block nobottomborder">
          <h3>Related Products</h3>
        </div>
        <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let product of relatedProducts">
            <ng-template carouselSlide  [width]="300" [id]="product.id">
              <div class="sale-flash" style="z-index: 1000;" *ngIf="product.isNew">New !</div>
              <div class="sale-flash" style="z-index: 1000;" *ngIf="product.isHotDeal">Hot Deal !</div>
              <a [routerLink]="['/rental', product.pathParam]" *ngIf="product.images[0]"><img [src]="product.images[0]" [alt]="product.title" [title]="product.title" style="height: 260px !important;"></a>
              <div class="real-estate-item-price" *ngIf="(isSpecified() | async)">
              ${{getPrice(product.nightPrice, product.minPrice, product.minTime, product.price) | async}}
              </div>
              <div class="real-estate-item-desc">
                <h3 style="white-space: nowrap;overflow: hidden;"><a [routerLink]="['/rental', product.pathParam]">{{product.title}}</a>
                </h3>

                <div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

              </div>
            </ng-template>
          </ng-container>

        </owl-carousel-o>

      </div>

    </div>

  </div>

</section><!-- #content end -->
<div class="modal fade" id="reviewFormModal" tabindex="-1" role="dialog" aria-labelledby="reviewFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="reviewFormModalLabel">Submit a Review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form class="nobottommargin" id="template-reviewform" name="template-reviewform" action="#" method="post">

          <div class="col_half">
            <label for="template-reviewform-name">Name <small>*</small></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="icon-user"></i></div>
              </div>
              <input type="text" id="template-reviewform-name" name="template-reviewform-name" value="" class="form-control required" />
            </div>
          </div>

          <div class="col_half col_last">
            <label for="template-reviewform-email">Email <small>*</small></label>
            <div class="input-group">
              <div class="input-group-prepend"><div class="input-group-text">@</div></div>
              <input type="email" id="template-reviewform-email" name="template-reviewform-email" value="" class="required email form-control" />
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_full col_last">
            <label for="template-reviewform-rating">Rating</label>
            <select id="template-reviewform-rating" name="template-reviewform-rating" class="form-control">
              <option value="">-- Select One --</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>

          <div class="clear"></div>

          <div class="col_full">
            <label for="template-reviewform-comment">Comment <small>*</small></label>
            <textarea class="required form-control" id="template-reviewform-comment" name="template-reviewform-comment" rows="6" cols="30"></textarea>
          </div>

          <div class="col_full nobottommargin">
            <button class="button button-3d nomargin" type="submit" id="template-reviewform-submit" name="template-reviewform-submit" value="submit">Submit Review</button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
