<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>My Account</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Login - Registration</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div class="tab-content clearfix" id="tab-login">
        <div class="card nobottommargin">
          <div class="card-body" style="padding: 40px;">
            <form id="login-form" [formGroup]="userResetForm" (ngSubmit)="onSubmitResetPassword()">

              <h3>Reset Password</h3>

              <div class="col_full">
                <label for="login-form-username">email:</label>
                <input formControlName="email" type="text" id="login-form-username" name="login-form-username"
                       value="" class="form-control"/>
              </div>

              <div class="col_full nobottommargin">
                <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit"
                        value="login" type="submit">Reset
                </button>
                <span style="margin-left: 40px;">{{message}}</span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
