<div class="content-wrap">
  <div class="clearfix">
    <div class="card-body" style="padding: 40px;">
      <form id="form" name="form" class="nobottommargin" [formGroup]="form" >

        <div class=" col col_full">
          <label for="title">Title:</label>
          <input formControlName="title" type="text" id="title" name="title" value="" class="form-control"/>
          <div
            *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['title'].errors.required">
              Title is required.
            </div>
          </div>
        </div>

        <div class=" col col_full">
          <label for="description">Description:</label>
          <textarea formControlName="description"  id="description" name="description" value="" class="form-control"></textarea>
        </div>

        <div class="col col_full">
          <div
            *ngIf="fileMaxSizeErrorMessage"
            class="alert alert-danger">
            <div>
              {{fileMaxSizeErrorMessage}}
            </div>
          </div>
          <div class=" col col_one_third">
            <input type="file" (change)="onFileUpload($event)" #input style="display: none;">
            <button color="primary" mat-raised-button (click)="triggerClick()"><i class="material-icons left">backup</i>Attach picture</button>
            <button *ngIf="form.get('imageUrl').value"  mat-raised-button (click)="deleteImage()"><i class="material-icons left">delete</i>Delete Picture</button>
          </div>
          <div class="col col_one_third">
            <img [src]="form.get('imageUrl').value" alt="">
          </div>
        </div>

        <div class=" col col_full">
          <label for="pageTitle">Page Title:</label>
          <input type="text" formControlName="pageTitle"  id="pageTitle" name="metaDescription" value="" class="form-control"/>
        </div>

        <div class=" col col_full">
          <label for="metaDescription">Meta Description:</label>
          <textarea formControlName="metaDescription"  id="metaDescription" name="metaDescription" value="" class="form-control"></textarea>
        </div>

        <div class="col_full nobottommargin">
          <button type="submit" class="button button-3d " id="submit" name="submit"
                  value="submit" (click)="submit()">Save
          </button>
          <button (click)="cancel()" class="button button-white button-3d " id="cancel" name="cancel" value="cancel">
            Cancel
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
