<div class="content-wrap">
  <div class="clearfix">
    <div class="card-body" style="padding: 40px;">
      <h3>{{product?.title}}</h3>

      <form id="product-form" name="product-form" class="nobottommargin" [formGroup]="form">

        <div class="row clearfix">
          <div class="col col_half">
            <label for="title">Title:</label>
            <input formControlName="title" matTooltip="Rental product title, must be unique." type="text" id="title" name="title" value="" class="form-control"/>
            <div
              *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['title'].errors.required">
                Title is required.
              </div>
            </div>
          </div>
          <div class="col col_half">
            <label for="price">Price:</label>
            <input matTooltip="Price-y minTime ancneluc heto jamavcharne" formControlName="price" type="number" id="price" name="price" value="" class="form-control"/>
            <div
              *ngIf="form.controls['price'].invalid && (form.controls['price'].dirty || form.controls['price'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['price'].errors.required">
                Price is required.
              </div>
              <div *ngIf="form.controls['price'].errors.min">
                Price must be higher than 0.
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_half">
            <mat-form-field class=" col_full">
              <mat-select placeholder="Category" id="category" formControlName="category" [compareWith]="compareFn">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                  {{category.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class=" col col_one_fourth">
            <mat-checkbox
              matTooltip="Rental producti vra drvum e isNew grvacy."
              class=""
              [formControlName]="'isNew'"
              labelPosition="before">
              Is new
            </mat-checkbox>
          </div>

          <div class=" col col_one_fourth">
            <mat-checkbox
              class=""
              matTooltip="Rental producti vra drvum e isHotDeal grvacy."
              [formControlName]="'isHotDeal'"
              labelPosition="before">
              Hot deal:
            </mat-checkbox>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_full">
            <label for="description">Description:</label>
            <textarea formControlName="description" id="description" name="description" value=""
                      class="form-control"></textarea>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_full">
            <label for="instructions">Instructions:</label>
            <textarea matTooltip="Rental producti informaciai mej avelanum e instruction." formControlName="instructions" type="text" id="instructions" name="instructions" value=""
                      class="form-control"></textarea>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_one_third">
            <label for="itemSize">Item size:</label>
            <input matTooltip="Rental producti chapery." formControlName="itemSize" type="text" id="itemSize" name="itemSize" value=""
                   class="form-control"/>
          </div>

          <div class=" col col_one_third">
            <label for="spaceRequired">Space Required:</label>
            <input matTooltip="Rental producti informaciai mej avelanum e taracqi texadrman hamar informacia." formControlName="spaceRequired" type="text" id="spaceRequired" name="spaceRequired" value=""
                   class="form-control"/>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_half">
            <label for="safetyRules">Safety rules:</label>
            <textarea formControlName="safetyRules" type="text" id="safetyRules" name="safetyRules" value=""
                      matTooltip="Rental producti informaciai mej avelanum e ogtagorcman jamanak anvtangutyan masin informacia."
                      class="form-control"></textarea>
          </div>

          <div class=" col col_half">
            <label for="rentalTerms">Rental terms:</label>
            <textarea formControlName="rentalTerms" type="text" id="rentalTerms" name="rentalTerms" value=""
                      matTooltip="Rental producti informaciai mej avelanum e vardzakalutyan masin informacia."
                      class="form-control"></textarea>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_half">
            <label for="count">Count:</label>
            <input formControlName="count" type="number" id="count" name="count" value=""
                   matTooltip="Hani hat uneq ays Rental productic, vorov khashvarkvi 'Availability'."
                   class="form-control"/>
            <div
              *ngIf="form.controls['count'].invalid && (form.controls['count'].dirty || form.controls['count'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['count'].errors.required">
                Count is required.
              </div>
              <div *ngIf="form.controls['count'].errors.min">
                Count must be higher than 0.
              </div>
            </div>
          </div>

          <div class=" col col_half">
            <label for="nightPrice">Night price:</label>
            <input formControlName="nightPrice" type="number" id="nightPrice" name="nightPrice"
                   matTooltip="Gisherva hamar vcharman giny."
                   class="form-control"/>
            <div
              *ngIf="form.controls['nightPrice'].invalid && (form.controls['nightPrice'].dirty || form.controls['nightPrice'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['nightPrice'].errors.required">
                NightPrice is required.
              </div>
              <div *ngIf="form.controls['nightPrice'].errors.min">
                NightPrice must be higher than 0.
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_half">
            <label for="minTime">Min Time:</label>
            <input formControlName="minTime" type="number" id="minTime" name="minTime" value=""
                   matTooltip="Ayn jamanaky voric heto ksksi gorcel jamavchary."
                   class="form-control"/>
            <div
              *ngIf="form.controls['minTime'].invalid && (form.controls['minTime'].dirty || form.controls['minTime'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['minTime'].errors.required">
                MinTime is required.
              </div>
              <div *ngIf="form.controls['minTime'].errors.min">
                MinTime must be higher than 0.
              </div>
            </div>
          </div>

          <div class=" col col_half">
            <label for="minPrice">Min price:</label>
            <input formControlName="minPrice" type="number" id="minPrice" name="minPrice"
                   matTooltip="Minimum Price-ne, vorin gumarvum e 'MIN TIME'-y ancneluc heto jamavchary."
                   class="form-control"/>
            <div
              *ngIf="form.controls['minPrice'].invalid && (form.controls['minPrice'].dirty || form.controls['minPrice'].touched)"
              class="alert alert-danger">
              <div *ngIf="form.controls['minPrice'].errors.required">
                MinPrice is required.
              </div>
              <div *ngIf="form.controls['minPrice'].errors.min">
                MinPrice must be higher than 0.
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_full">
            <div class="row clearfix">
              <div class="col col_five_sixth">
                <label>Setup Policy:</label>
              </div>
              <div class="col col_one_sixth">
                <button mat-raised-button color="primary" (click)="addSetupPolicy()">Add Setup Policy</button>
              </div>
            </div>
            <div  *ngIf="form.hasError('setupPolicyUniqueKey')" class="row clearfix">
              <div class="col col_full">
                <div
                  class="alert alert-danger">
                  <div >
                    Duplicate key of setup policy detected
                  </div>
                </div>
              </div>
            </div>
            <div class="row clearfix" >
              <div class="col col_one_third">
                <ng-container formArrayName="setupPolicyKeys"
                              *ngFor="let key of getSetupPolicyKeysControls(); let i = index;">
                  <ng-container [formGroupName]="i">
                    <div class="row setup-policy-row">
                      <input formControlName="name" placeholder="" type="text" [id]="'key_' + i" name="key" value=""
                             class="form-control"/>
                    </div>
                  </ng-container>
                  <div
                    *ngIf="form.get('setupPolicyKeys').controls[i].invalid && (form.get('setupPolicyKeys').controls[i].dirty || form.get('setupPolicyKeys').controls[i].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.get('setupPolicyKeys').controls[i].controls.name.errors.required">
                      Setup Policy key can't be empty
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col col_half setup-policy-row">
                <ng-container formArrayName="setupPolicyValues"
                              *ngFor="let key of getSetupPolicyValuesControls(); let i = index;">
                  <ng-container [formGroupName]="i">
                    <div class="row setup-policy-row">
                    <input formControlName="name" placeholder="" type="text" [id]="'value_' + i" name="value" value=""
                           class="form-control"/>
                    </div>
                  </ng-container>
                  <div
                    *ngIf="form.get('setupPolicyValues').controls[i].invalid && (form.get('setupPolicyValues').controls[i].dirty || form.get('setupPolicyValues').controls[i].touched)"
                    class="alert alert-danger">
                    <div *ngIf="form.get('setupPolicyValues').controls[i].controls.name.errors.required">
                      Setup Policy value can't be empty
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="col col_one_sixth" >
                <div class="row clearfix del-row setup-policy-row"  *ngFor="let key of getSetupPolicyValuesControls(); let i = index;">
                  <mat-icon (click)="removeSetupPolicy(i)">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col col_full">
            <div
            *ngIf="fileMaxSizeErrorMessage"
            class="alert alert-danger">
            <div>
              {{fileMaxSizeErrorMessage}}
            </div>
          </div>
            <div class=" col col_one_third">
              <input type="file" (change)="onFileUpload($event)" #input style="display: none;">
              <button color="primary" mat-button (click)="triggerClick()"><i class="material-icons left">backup</i>Attach
                picture
              </button>
            </div>
            <div *ngFor="let imageSrc of form.controls['images'].value" class="col col_one_sixth">
              <mat-icon (click)="filterImages(imageSrc)">delete</mat-icon>
              <img [src]="imageSrc" alt="">
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class=" col col_full">
            <label for="video">Video URL:</label>
            <input formControlName="video" type="text" id="video" name="video" value=""
                   class="form-control"/>
          </div>
        </div>

        <div class="col_full nobottommargin">
          <button type="submit" class="button button-3d " id="submit" name="submit"
                  value="submit" (click)="onSubmit()">Save
          </button>
          <button (click)="close()" class="button button-white button-3d " id="cancel" name="cancel" value="cancel">
            Cancel
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
