<!-- Page Title
	============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Privacy & Terms</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Privacy & Terms</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
	============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_full">
        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Privacy Statement</h4>
        </div>
        <p>Entertainment Party Rentals, LLC is committed to the protection of your personal information held within our
          company. This Internet Privacy Statement demonstrates our commitment to your privacy.</p>

        <div class="heading-block fancy-title nobottomborder">
          <h5>Collection of your personal information</h5>
        </div>

        <p>If you have registered to receive email newsletters, requested information, attending our events,
          or contracted our services, the information about your interests are collected and stored in our database.
          This assists us to build a profile of what information would be relevant and of interest to you. </p>

        <p>Entertainment Party Rentals, LLC does not sell to or share your personal information with any third party,
          except as required by law or other legal processes. Any information we have collected from our website,
          subscription services or accounting systems will be stored in our database and are not given to unauthorized
          third party without your consent.</p>
      </div>

      <div class="col_full">
        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Terms of Use </h4>
        </div>

        <p>DEPOSIT POLICY:  ALL DEPOSITS ARE NON – REFUNDABLE, REGARDLESS OF TIME FRAME OF CANCELLATION. DEPOSITS ARE
          USED TO HOLD A SPECIFIC DATE & TIME AND SCHEDULED EMPLOYEES FOR PROMPT DELIVERY AND SETUP AS PER CLIENT REQUEST.
          CHANGES OR CANCELLATIONS ENTAIL FORFEITURE OF CLIENT DEPOSIT. DISPUTES ARE HANDLED VIA PHONE, EMAIL OR U.S. MAIL
          WITH MANAGEMENT. STAFF AND PERFORMERS ARE NOT AUTHORIZED TO ISSUE DEPOSIT REFUNDS WITHOUT CONSULTING MANAGEMENT.
          PERFORMERS ARE NOT REQUIRED TO WAIT FOR PAYMENT.  CLIENTS WHO RESERVE A 1 HOUR TIME SLOT WILL HAVE TIME STARTED
          FROM TIME OF PAYMENT.</p>

        <p>
          DELIVERY FEES: FREE DELIVERIES <b>WITHIN 3 MILE RADIUS.</b> PLEASE REFER TO OUR DELIVERY SECTION FOR RESPECTIVE
          DELIVERY FEE BASED ON ZIPCODES.
        </p>

      </div>

    </div>
  </div>
</section>
