<section id="content">

  <div class="content-wrap">
    <div class="container clearfix">

      <!-- Postcontent
          ============================================= -->
      <div class="fullscreen">

        <h3>Delivery Chart</h3>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Cities</th>
            <th>Los Angeles County Zip Codes</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of delideryCharts" >
            <td>{{item.city}}</td>
            <td>
              <ng-container *ngFor="let zip of item.zipCodes; let i = index">
                {{zip.zipCode}}
                <ng-container *ngIf="i !== item.zipCodes.length-1">
                  ,
                </ng-container>
              </ng-container>
            </td>
            <td>${{item.price}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
