<!-- Footer
		============================================= -->
<footer id="footer" class="footer-light" style="background: url('../../../assets/images/footer-1.jpg') right top / cover no-repeat">

  <div class="container">

    <!-- Footer Widgets
            ============================================= -->
    <div class="footer-widgets-wrap clearfix">

      <div class="col_two_fifth">

        <div class="widget clearfix">

          <img src="../../../assets/images/logo/lrg-epr-logo.png" style="position: relative; opacity: 0.85; left: -10px; max-height: 80px; margin-bottom: 20px;" alt="Footer Logo">

          <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>

        </div>

      </div>

      <div class="col_three_fifth col_last">

        <div class="col_half">
          <h4 class="ls1 t400 uppercase">Contact Info</h4>
          <div class="row">
            <div class="col-12 bottommargin-sm widget_links widget_real_estate_popular">
              <address>
                <strong>Headquarters:</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
              </address>
              <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
              <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
              <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
            </div>
          </div>
        </div>

        <div class="col_half col_last">

          <h4 class="ls1 t400 uppercase">Connect Socially</h4>

          <div class="bottommargin-sm clearfix">
            <a href="#" class="social-icon si-colored si-small si-rounded si-facebook" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-rounded si-twitter" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-rounded si-instagram" title="Instagram">
              <i class="icon-instagram"></i>
              <i class="icon-instagram"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-rounded si-apple" title="App Store">
              <i class="icon-apple"></i>
              <i class="icon-apple"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-rounded si-android" title="Play Store">
              <i class="icon-android"></i>
              <i class="icon-android"></i>
            </a>

            <a href="#" class="social-icon si-colored si-small si-rounded si-skype" title="Skype">
              <i class="icon-skype"></i>
              <i class="icon-skype"></i>
            </a>
          </div>
          <div class="line" style="margin: 30px 0;"></div>

          <p class="ls1 t300" style="font-size: 13px;">Copyrights &copy; {{currentYear.getFullYear()}} Entertainment Party Rentals</p>

        </div>

      </div>

    </div><!-- .footer-widgets-wrap end -->

  </div>

</footer><!-- #footer end -->
