<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Cart</h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/rentals">Rentals</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="table-responsive">
        <table class="table cart">
          <thead>
          <tr>
            <th class="cart-product-remove">&nbsp;</th>
            <th class="cart-product-thumbnail">&nbsp;</th>
            <th class="cart-product-name">Product</th>
            <th class="cart-product-price">Unit Price</th>
            <th class="cart-product-quantity">Quantity</th>
            <th class="cart-product-subtotal">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr class="cart_item" *ngFor="let product of productsInCart">
            <td class="cart-product-remove">
              <button class="remove" title="Remove this item" (click)="removeOrderItem(product.id)"><i class="icon-trash2"></i></button>
            </td>

            <td class="cart-product-thumbnail">
              <a [routerLink]="['/rental', product.pathParam]"><img *ngIf="product.images.length > 0" width="64" height="64" src="{{product.images[0]}}"
                               alt="{{product.title}}"></a>
            </td>

            <td class="cart-product-name">
              <a [routerLink]="['/rental', product.pathParam]">{{product.title}}</a>
            </td>

            <td class="cart-product-price">
              <span class="amount" *ngIf="isSpecified() | async"> <ins>${{orderData.get(product.id)?.price}}</ins></span>
            </td>

            <td class="cart-product-quantity">
              <mat-form-field *ngIf="isSpecified() | async" style="width:70px;margin-right: 20px;">
                <!--<mat-label>Quantity</mat-label>-->
                <mat-select (valueChange)="countChange($event, product.id)" [(value)]="orderData.get(product.id).count">
                  <mat-option *ngFor="let count of orderData.get(product.id)?.available" [value]="count">{{count}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>

            <td class="cart-product-subtotal">
              <span class="amount">${{orderData.get(product.id)?.count * orderData.get(product.id)?.price}}</span>
            </td>
          </tr>
          </tbody>

        </table>
      </div>

      <div class="row clearfix">
        <div class="col-lg-6 clearfix">
          <h4>Rental Date & Time</h4>
          <app-location-date></app-location-date>
          <h4 *ngIf="!(isSpecified() | async)">Please select an event location, date and time to obtain a real-time quote.</h4>
        </div>

        <div class="col-lg-6 clearfix">
          <h4>Cart Totals</h4>

          <div class="table-responsive">
            <table class="table cart">
              <tbody>
              <tr class="cart_item">
                <td class="cart-product-name">
                  <strong>Cart Subtotal</strong>
                </td>

                <td class="cart-product-name">
                  <span class="amount">${{getSubtotalPrice()}}</span>
                </td>
              </tr>
              <tr class="cart_item">
                <td class="cart-product-name">
                  <strong>Shipping</strong>
                </td>

                <td class="cart-product-name">
                  <span class="amount">${{shippingPrice?shippingPrice:'Free Delivery'}}</span>
                </td>
              </tr>
              <tr class="cart_item">
                <td class="cart-product-name">
                  <strong>Total</strong>
                </td>

                <td class="cart-product-name">
                  <span class="amount color lead"><strong>${{getTotalPrice()}}</strong></span>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
          <button type="button" class="button button-3d button-rounded button-green" (click)="continueShopping()">Continue shopping</button>
          <button type="button" class="button button-3d button-rounded"> Checkout </button>
        </div>
      </div>

    </div>

  </div>

</section><!-- #content end -->
