<!-- Page Title
	============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>About Us</h1>
    <span>Everything you need to know about our Company</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
	============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_full">
        <p>It’s very cool and important for kids' activities to teach them to be a smart, fast and communicative person.
          Not only does our service bring them joy but we also want them to learn while they enjoy their childhood
          parties!! Interactive games are what can make your children learn literally everything fast and easily! Stay
          tuned for our virtual reality headset which is coming very soon! This is designed for kids to learn with
          different interesting and funny video games and to develop their imagination! Additionally, we’re not only
          focused on children’s parties but also on adults' events! We prepared for you the highly interesting table and
          sports games, a photo booth, tables, chairs, tents, party machines and much more!</p>
      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Why choose <span>Us</span>.</h4>
        </div>

        <p>The answer is that you can rely on us undoubtedly cause we’re a team who loves punctuality, perfectionism in
          everything, and of course parties! We’re a team of optimists who can’t tolerate sadness especially when it’s
          relating to children. Choose us to share happiness and joy with other people to make this world a better place
          to live in. Your every celebration will be at the highest level with our party rentals company.</p>

      </div>

      <div class="col_one_third">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>Our <span>Mission</span>.</h4>
        </div>

        <p>Our mission is simple. We just aim to make your life happier when you’re using our rental service, and this
          is why all our equipment is safe for our customers, cleaned each time before and after usage, delivered on
          time and bringing fun to all of you! And this is not all we want to do for this world. We also aim to bring
          joy to those children who unfortunately don’t have families, and we don’t actually like to call it “charity”
          because we think that giving to those who really need it is our obligation, not an act of charity.</p>

      </div>

      <div class="col_one_third col_last">

        <div class="heading-block fancy-title nobottomborder title-bottom-border">
          <h4>What we <span>Do</span>.</h4>
        </div>

        <p>We’re not only an amazing party rental service in Los Angeles County, California but we also provide a great
          mood in all occasions such as birthday parties, carnivals, anniversaries, business, city or park events,
          weddings, etc. Find on our website different range of party rentals with affordable price and high-quality
          equipment such as bounce houses, combos, food machines, mechanical rides, interactive games and so much
          more!</p>

      </div>

    </div>
  </div>
</section>
