<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Rental Categories</h1>
    <span>Start Buying your Favourite Theme</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Rentals</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
	============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Shop
				============================================= -->
      <div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

        <div class="product clearfix">
          <div class="product-image">
            <a (click)="navigate(5,'title')" ><img src="../../../assets/images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
            <div class="sale-flash">New!</div>
          </div>
        </div>



      </div><!-- #shop end -->

    </div>

  </div>

</section><!-- #content end -->
