<!-- Page Title
		============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Rental Categories</h1>
    <span>Start Buying your Favourite Theme</span>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Rentals</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
	============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <!-- Shop
				============================================= -->
      <div id="shop" class="shop grid-container clearfix" data-layout="fitRows">

        <div class="product clearfix">
          <div class="product-image">
            <a routerLink="/rental/1"><img src="../../../assets/images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
            <div class="sale-flash">New!</div>
            <div class="product-overlay">
              <a href="include/ajax/shop-item.html" class="item-quick-view" data-lightbox="ajax"><i class="icon-zoom-in2"></i><span> View</span></a>
            </div>
          </div>
          <div class="product-desc">
            <div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
            <div class="product-rating">
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star3"></i>
              <i class="icon-star-half-full"></i>
            </div>
          </div>
        </div>



      </div><!-- #shop end -->

    </div>

  </div>

</section><!-- #content end -->
